<div>
    <div id="banner_form">
        <div class="banner_row">
            <div class="banner_element left_element">
                <div class="banner_icon"><img src="assets/icons/expenses.svg"></div>
                <div class="heading_banner">Учитывайте все свои расходы и доходы</div>
                <div class="text_banner">Вносите все свои расходы и доходы, чтобы держать финансы под полным контролем</div>
            </div>
            <div class="banner_element">
                <div class="banner_icon"><img src="assets/icons/planning.svg"></div>
                <div class="heading_banner">Планируйте свои затраты и доходы</div>
                <div class="text_banner">Стройте свои финансовые планы и составляйте бюджет</div>
            </div>
        </div>
        <div class="banner_row">
            <div class="banner_element left_element">
                <div class="banner_icon"><img src="assets/icons/credit.svg"></div>
                <div class="heading_banner">Вносите свои кредиты и деньги, <br/> отданные в долг</div>
                <div class="text_banner">Полный контроль кредитов и денег, отданных в долг, включая контроль их возврата и напоминаниями</div>
            </div>
            <div class="banner_element">
                <div class="banner_icon"><img src="assets/icons/stats.svg"></div>
                <div class="heading_banner">Наглядные отчеты и диаграммы – простой <br/> и удобный инструмент для анализа</div>
                <div class="text_banner">Программа поможет вам проанализировать ваши финансы при помощи многообразных отчетов</div>
            </div>
        </div>
    </div>
</div>